	<div id="bounties" class="bounties-container row section">
		<div class="container">
			<div class="bounties-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="bounties-header-title"><span class="color-primary">Community</span> <span class="color-secondary">Bounties</span></h1>
				</div>
			</div>
			
			<div class="content">
              <p localization-tag="community-bounty"> Bitcoin Private is a community driven project. As the project grows, rewards (bounties) will be given out for completion of certain tasks.<br> Below is a list of the current bounties: </p>
            </div>

			<div class="bounties-content row">

				<div class="bounties-message col-xs-12 col-sm-6">
					<div class="well well-sm">
					<h3 localization-tag="bounty-title">Sample Bounty 1</h3>
					<p localization-tag="bounty-description"> Create U.I interface for full-node wallet</p>
					<p localization-tag="bounty-reward">Reward: 1 BTCP</p>
					</div>
					<div class="well well-sm">
					<h3 localization-tag="bounty-title">Sample Bounty 2</h3>
					<p localization-tag="bounty-description">Sample Bounty description.../p>
					<p localization-tag="bounty-reward">Reward: 1 BTCP</p>
					</div>
					<div class="well well-sm">
					<h3 localization-tag="bounty-title">Sample Bounty 3</h3>
					<p localization-tag="bounty-description">Sample Bounty description.../p>
					<p localization-tag="bounty-reward">Reward: 1 BTCP</p>
					</div>

				</div>

				<div class="col-xs-12 col-sm-3 col-sm-offset-3 links">
					<h3 localization-tag="resources-social-title">We're Social</h3>
					<a href="https://www.facebook.com/bitcoinprivate/" class="color-facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
					<a href="https://twitter.com/bitcoinprivate" class="color-twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
					<a href="https://www.reddit.com/r/BitcoinPrivate/" class="color-reddit" target="_blank"><i class="fa fa-reddit-alien"></i> Reddit</a>
					<a href="https://discord.gg/46U2p4m" class="color-discord" target="_blank"><i class="fa fa-comments"></i> Discord</a>
					<a href="https://t.me/BTCPrivate" class="color-telegram" target="_blank"><i class="fa fa-telegram"></i> Telegram</a>
					<a href="https://github.com/BTCPrivate/BitcoinPrivate" class="color-github" target="_blank"><i class="fa fa-github"></i> GitHub</a>
				</div>

			</div>
		</div>
	</div>