<div id="donate" class="donate donate-container row section">
		<div class="container">
			<div class="donate-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="donate-header-title"><span class="color-primary">Donate</span></h1>
				</div>
			</div>

			<!-- Donate : Wallets -->
			<div class="donate-content row">
				<div class="donate-intro col-xs-12">
					<p localization-tag="resources-donate-text">
						Please considering donating to our contribution/development team. A big thank you to everyone that has already shown their support!
					</p>
				</div>
			</div>

			<!-- Donate : Wallets : BTCP -->
			<div class="donate-content-wallet donate-btcp row">
				<div class="donate-wallet col-xs-12">
					<div class="donate-icon col-xs-12">
						<img class="donate-icon-inner icon" src="images/new_ico_btcp-250px.png" />
					</div>
					<div class="donate-content-title col-xs-12">
						<h3 localization-tag="donate-content-title-btcp">BTCP</h3>
					</div>
					<div class="donate-content-card card col-sm-6 col-sm-offset-3 col-xs-12">
						<ul class="list-group">
							<li class="list-group-item">b1RXUJgnuxtzHyJ5UTWerh4pNBWcVikESZe</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Donate : Wallets : BTC -->
			<div class="donate-content-wallet donate-btc row">
				<div class="donate-wallet col-xs-12">
					<div class="donate-icon col-xs-12">
						<img class="donate-icon-inner icon" src="images/icons/bitcoin.png" />
					</div>
					<div class="donate-content-title col-xs-12">
						<h3 localization-tag="donate-content-title-btc">BTC</h3>
					</div>
					<div class="donate-content-card card col-sm-6 col-sm-offset-3 col-xs-12">
						<ul class="list-group">
							<li class="list-group-item">1CqSD9rxdQnKEwzqqbLwpgwCeQikFCifPj</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Donate : Wallets : LTC -->
			<div class="donate-content-wallet donate-ltc row">
				<div class="donate-wallet col-xs-12">
					<div class="donate-icon col-xs-12">
						<img class="donate-icon-inner icon" src="images/icons/ltc.png" />
					</div>
					<div class="donate-content-title col-xs-12">
						<h3 localization-tag="donate-content-title-ltc">LTC</h3>
					</div>
					<div class="donate-content-card card col-sm-6 col-sm-offset-3 col-xs-12">
						<ul class="list-group">
							<li class="list-group-item">LNYzDrUeX6PSecu4sL4eZkuJGaSXnf8GUH</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- Donate : Wallets : BCH -->
			<div class="donate-content-wallet donate-bch row">
				<div class="donate-wallet col-xs-12">
					<div class="donate-icon col-xs-12">
						<img class="donate-icon-inner icon" src="images/icons/bch.png" />
					</div>
					<div class="donate-content-title col-xs-12">
						<h3 localization-tag="donate-content-title-bch">BCH</h3>
					</div>
					<div class="donate-content-card card col-sm-6 col-sm-offset-3 col-xs-12">
						<ul class="list-group">
							<li class="list-group-item">1MxJteinBWHMUibDxADujrgzXfX1LeVZKN</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
