<div id="donate" class="donate donate-container row section">
		<div class="container">
			<div class="donate-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="donate-header-title"><span class="color-primary">Donate</span></h1>
				</div>
			</div>

			<!-- Donate : Wallets -->
			<div class="donate-content row">
				<div class="donate-intro col-xs-12">
					<p localization-tag="donate-text">
						Please consider donating to our contribution/development team. A big thank you to everyone that has already shown their support!
					</p>
				</div>
			</div>

			<!-- Donate : Wallets : BTCP -->
			<div class="donate-content-wallet donate-btcp row">
				<div class="donate-wallet col-xs-12">
					<div class="donate-icon col-xs-12">
						<img class="donate-icon-inner icon" src="images/new_ico_btcp-250px.png" />
					</div>
					<div class="donate-content-title col-xs-12">
						<h3 localization-tag="donate-content-title-btcp">BTCP</h3>
					</div>

					<div class="donate-content-card card col-sm-8 col-sm-offset-2 col-xs-12">
						<div class="card-body">
							<h5 class="card-title" localization-tag="donate-shielded">Shielded</h5>
							<ul class="list-group">
								<li class="list-group-item">zkEyLYc45LdNmzjJ84aGFAJ8CW959FCARYNso64SPmzymozageLS9YJ6HKbHSoqjXsV7bjrDEzXVLnMQtUCTeETKehPDPU4</li>
							</ul>
						</div>
					</div>

					<div class="donate-content-card card col-sm-8 col-sm-offset-2 col-xs-12">
						<div class="card-body">
							<h5 class="card-title" localization-tag="donate-transparent">Transparent</h5>
							<ul class="list-group">
								<li class="list-group-item">b1RXUJgnuxtzHyJ5UTWerh4pNBWcVikESZe</li>
							</ul>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
