<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img id="logo" src="images/logo.svg" />
      </a>
    </div>

    <div id="navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#why-btcp" class="view-section">About</a></li>
        <li><a href="#hard-fork" class="view-section">Hard Fork</a></li>
        <li><a href="#faq" class="view-section">FAQ</a></li>
        <li><a href="#resources" class="view-section">Resources</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div id="hero" class="row">
    <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3 text-center">
      <img src="images/icon.svg" height="160px" />
      <h1><span class="color-primary">Bitcoin</span> <span class="color-secondary">Private</span></h1>
      <p class="x-large color-primary">private, decentralized, fast, open source,<br class="hidden-xs" />community-driven coin</p>
      <h3 class="color-primary font-weight-bold">Coming Soon</h3>
      <a href="#hard-fork" class="btn btn-accent view-section">Hard Fork Details</a>
    </div>
  </div>

  <div id="why-btcp" class="row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-heading text-center"><span class="color-primary">Why</span> <span class="color-secondary">$BTCP?</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-lock visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Private</h3>
            <p>Bitcoin Private will use the same privacy technology as ZClassic (zk-snarks). This means payments are published on a public blockchain, but the sender, recipient and other transactional metadata remain unidentifiable.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-arrows visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Decentralized</h3>
            <p>Just like Bitcoin, Bitcoin Private will support peer-to-peer transactions without an intermediary. These transactions will be verified by network nodes through the use of cryptography and recorded in a public ledger.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-tachometer visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Fast</h3>
            <p>Unlike Bitcoin, Bitcoin Private will support a modestly increased block size while being more anonymous and secure than any existing Bitcoin-based currency without sacrificing transaction speeds.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-comments-o visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Open Source</h3>
            <p>Bitcoin Private's entire codebase is publically available for viewing and verification by anyone. It will always remain open source and be maintained by an ever growing community.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-users visual" style="font-size: 79px"></i>
          <div class="content">
            <h3>Community Driven</h3>
            <p>In the nature of transparency and open source, Bitcoin Private is developed by team mebers all over the world. Each member fills roles and contributes based on his or her skillsets.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 visual-grouping">
          <i class="fa fa-heart visual" style="font-size: 74px"></i>
          <div class="content">
            <h3>A Fair Start</h3>
            <p>There will be no premine, and no founder's reward. Bitcoin Private will be released in a fair manner to all. Coins will be distributed on a 1:1 basis to BTC and ZCL holders.</p>
          </div>
        </div>

        <div class="col-xs-12 text-center whitepaper">
          <a href="" class="btn btn-primary">Download Whitepaper</a>
        </div>
      </div>
    </div>
  </div>

  <div id="hard-fork" class="row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-heading text-center"><span class="color-primary">Hard</span> <span class="color-secondary">Fork</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-push-7">
          <img src="images/hard-fork-graphic.png" width="100%" />
        </div>

        <div class="col-xs-12 col-sm-6 col-sm-pull-5">
          <h3>What Is a Hard Fork?</h3>
          <p>A hard fork is when a single cryptocurrency splits in two. It occurs when a cryptocurrency’s existing code is changed, resulting in both an old and new version. This case is somewhat unique, whereby ZCL and BTC will be co-forked into Bitcoin Private ($BTCP).</p>

          <h3>When Is The Hard Fork?</h3>
          <p>At this time, no official date has been announced. The Bitcoin Private team is working tirelessly to get everything ready for the impending release.</p>

          <h3>How Do I Receive $BTCP?</h3>
          <p>When the hard fork occurs, a snapshot of all existing ZCL and BTC holdings will occur. Anyone holding ZCL or BTC in a wallet or supported exchange will be credited Bitcoin Private (BTCP) at a 1:1 ratio. For example, if you hold 15.4 ZCL, you will receive 15.4 BTCP.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="faq" class="row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-heading text-center"><span class="color-primary">Frequently Asked</span> <span class="color-secondary">Questions</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <h3>Who is running the project?</h3>
          <p>Rhett Creighton is the lead developer. Overall, our contribution team is huge, almost 50 active members as of right now. This is a truly community driven project and we are all invested in making this fork happen and BTCP the future.</p>

          <h3>What exchanges will support the fork?</h3>
          <p>As of right now, we are actively speaking with individual exchanges on this matter. Please be patient, as we are not making any statements on support from individual exchanges yet.</p>

          <h3>How do I mine ZCL?</h3>
          <p><a href="https://www.reddit.com/r/ZClassic/comments/7mfmyb/how_to_mine_zcl_using_nvidia_or_amd_gpus_on/?ref=share&ref_source=link" target="_blank">Here is a guide for mining ZCL on miningpoolhub</a>. BTCP will also be mined in a similar fashion. Stay tuned for more information.</p>

          <h3>Where can I buy ZCL right now?</h3>
          <p><a href="https://bittrex.com/Market/Index?MarketName=BTC-ZCL" target="_blank">Bittrex</a>, <a href="https://www.cryptopia.co.nz/Exchange?market=ZCL_BTC" target="_blank">Cryptopia</a> and <a href="https://www.coinexchange.io/market/ZCL/BTC" target="_blank">Coinexchange.io</a></p>

          <h3>How can I help with development of BTCP?</h3>
          <p>See the <a href="https://github.com/BTCPrivate/BitcoinPrivate/issues" target="_blank">issues posted on github</a> that we need resolved for BTCP.</p>
        </div>

        <div class="col-xs-12 col-sm-5 col-sm-push-2">
          <h3>Where can I store my ZCL to ensure I get my BTCP?</h3>
          <p>Please use the following simple guide on <a href="https://redd.it/7kynho" target="_blank">how to install the windows wallet</a>. While there have been some issues with the current ZCL wallet, we promise that a 100% working wallet for Mac and Windows will be released prior to the fork.</p>

          <h3>How do I get involved in the fork?</h3>
          <p>Please see the <a href="https://www.reddit.com/r/ZClassic/comments/7kt1ge/call_for_bitcoin_private_fork_volunteers/" target="_blank">thread here</a> and comment to get involved.</p>

          <h3>What happens to ZCL after the fork?</h3>
          <p>ZClassic will still exist. The community has discussed keeping ZCL in active development after the fork. We think this is great and fully support this.</p>

          <h3>How many BTCP will there be after the fork?</h3>
          <p>The amount of BTCP after the fork will be the sum of circulating ZCL and BTC while the total lifetime supply will be approximately 21,000,000 BTCP.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="resources" class="row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="section-heading text-center"><span class="color-primary">BTCP</span> <span class="color-secondary">Resources</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <h3>ZClassic Market Cap</h3>
          <p>Below is the current trading price of ZClassic and its market cap.</p>
          <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
          <div class="coinmarketcap-currency-widget" data-currency="zclassic" data-base="USD"  data-secondary="BTC"></div>
        </div>

        <div class="col-xs-12 col-sm-3 col-sm-push-1">
          <h3>Press Inquiries</h3>
          <p>To reach out to the primary coordinators of the team for any inquiries related to press, please contact us on Twitter <a href="https://twitter.com/bitcoinprivate">@bitcoinprivate</a>.</p>

          <h3>Press Kit</h3>
          <p>You can download a zip file containing <a href="">Bitcoin Private's branding assets here</a>.</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-sm-push-1 links">
          <h3>We're Social</h3>
          <a href="https://twitter.com/bitcoinprivate" class="color-twitter"><i class="fa fa-twitter"></i> Twitter</a>
          <a href="https://www.reddit.com/r/BitcoinPrivate/" class="color-reddit"><i class="fa fa-reddit-alien"></i> Reddit</a>
          <a href="https://t.me/zclassiccoin" class="color-discord"><i class="fa fa-comments"></i> Discord</a>
          <a href="https://t.me/zclassiccoin" class="color-telegram"><i class="fa fa-telegram"></i> Telegram</a>
          <a href="https://github.com/BTCPrivate/BitcoinPrivate" class="color-github"><i class="fa fa-github"></i> GitHub</a>
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="row">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 text-center">
          <a href="#hero" class="view-section">
            <img src="images/logo-white.svg" height="48px" />
          </a>
        </div>

        <div class="hidden-xs col-sm-9 text-right">
          <ul class="links">
            <li>
              <a href="#why-btcp" class="view-section">About</a>
              <a href="#hard-fork" class="view-section">Hard Fork</a>
              <a href="#faq" class="view-section">FAQ</a>
              <a href="#resources" class="view-section">Resources</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
