<div id="pools" class="pools pools-container row section">
		<div class="container">
			<div class="pools-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="pools-header-title"><span class="color-primary">Pools</span></h1>
				</div>
			</div>


			<div class="pools-content row">
				<div class="pools-intro col-xs-12 col-sm-12">
					<p localization-tag="disclaimer-pools-disclaimer">
						<b>IMPORTANT: If any pool asks for your seed or private key, it is not safe to use!</b>
					</p>
					<p localization-tag="resources-pools-text">
						Below you can find a list of the pools where you can mine BTCP. If you know of a pool that should be listed, please contact us via one of the social media platforms:
					</p>
				</div>
			</div>
			<div class="pools-content row">
				<div class="pools-content-official col-sm-6 col-xs-12">
					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-official-title">Official Mining Pool</h3>
					</div>
					<div class="pools-content-message col-xs-12">
						<p localization-tag="pools-content-text">This is the official BTCP mining pool, built and ran by BTCP developers: </p>
					</div>
					<div class="pools-content-cta col-xs-12">
						<a href="https://pool.btcprivate.org" target="_blank"><button class="pools-btn btn btn-accent btn-whitepaper" >Official BTCP<br>Pool</button></a>
					</div>
				</div>
				<div class="pools-content-table col-sm-6 col-xs-12">
					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-thirdparty-title">3rd Party Mining Pools</h3>
					</div>
					<div class="pools-table col-xs-12">
						<table class="pools-table-inner table">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Name</th>
									<th scope="col">Url</th>
									<!-- <th scope="col">Nicehash</th> -->
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Solo BTCPrivate.Pro</span></td>
									<td><a href="http://btcprivate.pro" target="_blank">http://solo.btcprivate.pro</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>BTCPrivate.Pro</span></td>
									<td><a href="http://btcprivate.pro" target="_blank">http://btcprivate.pro</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Althashers</span></td>
									<td><a href="https://althashers.com" target="_blank">https://althashers.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Bitcoinprivate.cryptomineros</span></td>
									<td><a href="https://bitcoinprivate.cryptomineros.com/" target="_blank">https://bitcoinprivate.cryptomineros.com/</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.2zo</span></td>
									<td><a href="http://btcp.2zo.pw/index.php" target="_blank">http://btcp.2zo.pw/index.php</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.magnificentpool</span></td>
									<td><a href="https://althashers.com" target="_blank">https://btcp.magnificentpool.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.multipools</span></td>
									<td><a href="https://btcp.multipools.club" target="_blank">https://btcp.multipools.club</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.forgetop</span></td>
									<td><a href="https://btcp.forgetop.com" target="_blank">https://btcp.forgetop.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.suprnova</span></td>
									<td><a href="https://btcp.suprnova.cc" target="_blank">https://btcp.suprnova.cc</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcp.multipools</span></td>
									<td><a href="https://btcp.multipools.club" target="_blank">https://btcp.multipools.club</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>BTCPMine</span></td>
									<td><a href="http://btcpmine.org" target="_blank">http://btcpmine.org</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Btcprivatepool Club</span></td>
									<td><a href="http://btcprivatepool.club/" target="_blank">http://btcprivatepool.club/</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>btcprivatepool Org</span></td>
									<td><a href="http://btcprivatepool.org/" target="_blank">http://btcprivatepool.org/</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>CoinBlockers</span></td>
									<td><a href="https://btcp.coinblockers.com" target="_blank">https://btcp.coinblockers.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>CoinFoundry</span></td>
									<td><a href="https://coinfoundry.org/pool/btcp" target="_blank">https://coinfoundry.org/pool/btcp</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>EquiMiner</span></td>
									<td><a href="https://github.com/1ds/equiminer/releases" target="_blank">https://github.com/1ds/equiminer/releases</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Equipool</span></td>
									<td><a href="https://equipool.1ds.us/" target="_blank">https://equipool.1ds.us/</a></td>
								</tr>
                                                                <tr>
                                                                        <th scope="row"></th>
                                                                        <td class="pools-table-item-title"><span>FirstPool</span></td>
                                                                        <td><a href="https://btcp.firstpool.org" target="_blank">https://btcp.firstpool.org</a></td>
                                                                </tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Get2mine</span></td>
									<td><a href="https://www.get2mine.com" target="_blank">https://www.get2mine.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Lucky-Mining</span></td>
									<td><a href="https://btcp.lucky-mining.com.ua" target="_blank">https://btcp.lucky-mining.com.ua</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>MiningSpeed</span></td>
									<td><a href="https://btcprivate.miningspeed.com" target="_blank">https://btcprivate.miningspeed.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Mining-madness</span></td>
									<td><a href=" http://btcp.mining-madness.com/" target="_blank">http://btcp.mining-madness.com/</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Mineflowpool</span></td>
									<td><a href="https://btcprivate.miningspeed.com" target="_blank">http://mineflowpool.pl/</a></td>
								</tr>

								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>RagnarPool</span></td>
									<td><a href="https://btcp.ragnarpool.ovh/stats" target="_blank">https://btcp.ragnarpool.ovh/stats</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>ThomasPool</span></td>
									<td><a href="http://testnet-btcp.thomas.uno:8080" target="_blank">http://testnet-btcp.thomas.uno:8080</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>ViciousMiner</span></td>
									<td><a href="https://viciousminer.com" target="_blank">https://viciousminer.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>WFMPools</span></td>
									<td><a href="https://zpool.wfmpools.com" target="_blank">https://zpool.wfmpools.com</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>ZHash</span></td>
									<td><a href="https://www.zpool.ca" target="_blank">https://btcp.zhash.pro</a></td>
								</tr>
								<tr>
									<th scope="row"></th>
									<td class="pools-table-item-title"><span>Zpool</span></td>
									<td><a href="https://www.zpool.ca" target="_blank">https://www.zpool.ca</a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
