<div id="pools" class="pools pools-container row section">
		<div class="container">
			<div class="pools-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="pools-header-title"><span class="color-primary">Pools</span></h1>
				</div>
			</div>

			<!-- Pools : Official -->
			<div class="pools-content row">
				<div class="pools-intro col-sm-10 col-sm-offset-1 col-xs-12">
					<p localization-tag="disclaimer-pools-disclaimer">
						<b>IMPORTANT: If any pool asks for your seed or private key, it is not safe to use!</b>
					</p>
					<p localization-tag="resources-pools-text">
						Below you can find a list of the pools where you can mine BTCP. If you know of a pool that should be listed, please contact us via one of the social media platforms:
					</p>
				</div>
			</div>
			<div class="pools-content row">
				<div class="pools-intro col-sm-10 col-sm-offset-1 col-xs-12">

					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-official-title">Official Mining Pool</h3>
					</div>

					<div class="pools-content-message col-xs-12">
						<p localization-tag="pools-content-official-text">This is the official BTCP mining pool, built and ran by BTCP developers: </p>
					</div>
					<div class="pools-content-cta col-xs-12">
						<a href="http://pool.btcprivate.org" target="_blank"><button class="pools-btn btn btn-accent btn-whitepaper" >Official BTCP<br>Pool</button></a>
					</div>

				</div>
			</div>

			<!-- Pools : Sponsored -->
			<div class="pools-content row">
				<div class="pools-content-table col-sm-10 col-sm-offset-1 col-xs-12">
					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-sponsors-title">Sponsor Mining Pools</h3>
					</div>
					<div class="pools-content-message col-xs-12">
						<p localization-tag="pools-content-sponsors-text">The following pools are sponsors of our community. </p>
					</div>

					<div class="pools-table col-xs-12">
						<table class="pools-table-inner table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Url</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="pools-table-item-title"><span>btcp.pool.pink</span></td>
									<td><a href="http://btcp.pool.pink/" target="_blank">http://btcp.pool.pink/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>equipool.1ds.us</span></td>
									<td><a href="https://equipool.1ds.us" target="_blank">https://equipool.1ds.us</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcprivatepool.club</span></td>
									<td><a href="http://btcprivatepool.club" target="_blank">http://btcprivatepool.club</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcp.pickaxe.pro</span></td>
									<td><a href="http://btcp.pickaxe.pro/" target="_blank">http://btcp.pickaxe.pro/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Son of a Tech</span></td>
									<td><a href="http://equihash.sonofatech.com/" target="_blank">http://equihash.sonofatech.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Coinblockers</span></td>
									<td><a href="https://btcp.coinblockers.com" target="_blank">https://btcp.coinblockers.com</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>WFMPools</span></td>
									<td><a href="https://zpool.wfmpools.com/" target="_blank">https://zpool.wfmpools.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Btcprivate.pro</span></td>
									<td><a href="http://btcprivate.pro/" target="_blank">http://btcprivate.pro/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Btcprivate.pro <br>(solo)</span></td>
									<td><a href="http://solo.btcprivate.pro/" target="_blank">http://solo.btcprivate.pro/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Vicious Miner</span></td>
									<td><a href="http://viciousminer.com/" target="_blank">http://viciousminer.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Poolforcoin</span></td>
									<td><a href="http://btcp.poolforcoin.com" target="_blank">http://btcp.poolforcoin.com</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Digital49er</span></td>
									<td><a href="https://pool.digital49er.com" target="_blank">https://pool.digital49er.com</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Miningcrypto.cash</span></td>
									<td><a href="http://btcp.miningcrypto.cash/" target="_blank">http://btcp.miningcrypto.cash/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Panda Mines</span></td>
									<td><a href="http://pandamines.com/" target="_blank">http://pandamines.com/</a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>

			<!-- Pools : Verified -->
			<div class="pools-content row">
				<div class="pools-content-table col-sm-10 col-sm-offset-1 col-xs-12">

					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-verified-title">Verified Mining Pools</h3>
					</div>
				<div class="pools-content-message col-xs-12">
						<p localization-tag="pools-content-verified-text">These pool have been verified by the BTCP team.</p>
					</div>

					<div class="pools-table col-xs-12">
						<table class="pools-table-inner table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Url</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="pools-table-item-title"><span>get2mine</span></td>
									<td><a href="http://get2mine.com/" target="_blank">http://get2mine.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>zpool</span></td>
									<td><a href="http://zpool.ca/" target="_blank">http://zpool.ca/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>multipools.club</span></td>
									<td><a href="https://www.multipools.club/" target="_blank">https://www.multipools.club/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Awesomepool</span></td>
									<td><a href="http://btcp.awesomepool.net/" target="_blank">http://btcp.awesomepool.net/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>NibiruPool</span></td>
									<td><a href="http://btcp.nibirupool.com/" target="_blank">http://btcp.nibirupool.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Althashers</span></td>
									<td><a href="http://althashers.com/" target="_blank">http://althashers.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>MagnificentPool</span></td>
									<td><a href="http://btcp.magnificentpool.com/" target="_blank">http://btcp.magnificentpool.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>ZHash</span></td>
									<td><a href="http://btcp.zhash.pro/" target="_blank">http://btcp.zhash.pro/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Klondikepool</span></td>
									<td><a href="http://klondikepool.net/" target="_blank">http://klondikepool.net/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>CloudPools</span></td>
									<td><a href="http://btcp.cloudpools.net/" target="_blank">http://btcp.cloudpools.net/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Miningspeed</span></td>
									<td><a href="https://btcprivate.miningspeed.com/" target="_blank">https://btcprivate.miningspeed.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Lucky-Mining</span></td>
									<td><a href="https://btcp.lucky-mining.com.ua/" target="_blank">https://btcp.lucky-mining.com.ua/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Forgetop</span></td>
									<td><a href="https://btcp.forgetop.com/" target="_blank">https://btcp.forgetop.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Mining-Madness</span></td>
									<td><a href="http://btcp.mining-madness.com/" target="_blank">http://btcp.mining-madness.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>BTCPrivate Pool Club</span></td>
									<td><a href="http://btcprivatepool.club/" target="_blank">http://btcprivatepool.club/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Multipools.club</span></td>
									<td><a href="https://btcp.multipools.club" target="_blank">https://btcp.multipools.club</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Hashitmining</span></td>
									<td><a href="https://hashitmining.com/" target="_blank">https://hashitmining.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Btcpmine</span></td>
									<td><a href="https://btcpmine.pro/#/" target="_blank">https://btcpmine.pro/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Mineflowpool/</span></td>
									<td><a href="http://mineflowpool.pl/" target="_blank">http://mineflowpool.pl/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Btcp.pool.nocroom</span></td>
									<td><a href="http://btcp.pool.nocroom.com/" target="_blank">http://btcp.pool.nocroom.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Minez.zone</span></td>
									<td><a href="http://minez.zone/" target="_blank">http://minez.zone/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcp.ragnarpool.ovh</span></td>
									<td><a href="https://btcp.ragnarpool.ovh/" target="_blank">https://btcp.ragnarpool.ovh/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcpmine.org</span></td>
									<td><a href="http://btcpmine.org/" target="_blank">http://btcpmine.org/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcpmining.eu</span></td>
									<td><a href="http://btcpmining.eu/" target="_blank">http://btcpmining.eu/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcp.crypto-mining-pool.com</span></td>
									<td><a href="http://btcp.crypto-mining-pool.com/" target="_blank">http://btcp.crypto-mining-pool.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>btcp.suprnova.cc</span></td>
									<td><a href="https://btcp.suprnova.cc/" target="_blank">https://btcp.suprnova.cc/</a></td>
								</tr>

							</tbody>
						</table>
					</div>

				</div>
			</div>

			<!-- Pools : Unverified -->
			<div class="pools-content row">
				<div class="pools-content-table col-sm-10 col-sm-offset-1 col-xs-12">

					<div class="pools-content-title col-xs-12">
						<h3 localization-tag="pools-content-unverified-title">Unverified Mining Pools</h3>
					</div>
				<div class="pools-content-message col-xs-12">
						<p localization-tag="pools-content-unverified-text">We advise caution using any pools not verified.</p>
					</div>

					<div class="pools-table col-xs-12">
						<table class="pools-table-inner table">
							<thead>
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Url</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="pools-table-item-title"><span>Cryptomineros</span></td>
									<td><a href="https://bitcoinprivate.cryptomineros.com/" target="_blank">https://bitcoinprivate.cryptomineros.com/</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Btcp.2zo</span></td>
									<td><a href="http://btcp.2zo.pw/index.php" target="_blank">http://btcp.2zo.pw/index.php</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>BTCPMine</span></td>
									<td><a href="http://btcpmine.org" target="_blank">http://btcpmine.org</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>CoinFoundry</span></td>
									<td><a href="https://coinfoundry.org/pool/btcp" target="_blank">https://coinfoundry.org/pool/btcp</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>ThomasPool</span></td>
									<td><a href="http://testnet-btcp.thomas.uno:8080" target="_blank">http://testnet-btcp.thomas.uno:8080</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>RagnarPool</span></td>
									<td><a href="https://btcp.ragnarpool.ovh/stats" target="_blank">https://btcp.ragnarpool.ovh/stats</a></td>
								</tr>
								<tr>
									<td class="pools-table-item-title"><span>Minez.zone</span></td>
									<td><a href="https://minez.zone" target="_blank">https://minez.zone</a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>

		</div>
	</div>
