	<div id="press" class="press-container row section">
		<div class="container">
			<div class="press-title row">
				<div class="col-xs-12">
					<h1 class="section-heading text-center" localization-tag="press-header-title"><span class="color-primary">Press</span></h1>
				</div>
			</div>

			<div class="press-content row">

				<div class="press-message col-xs-12 col-sm-6">
					<h3 localization-tag="resources-press-inquiries-title">Press Inquiries</h3>
					<p localization-tag="resources-press-inquiries-text">To reach out to the primary coordinators of the team for any inquiries related to press, please contact us at <a href="mailto:press@btcprivate.org">press@btcprivate.org</a>.</p>
					<p localization-tag="resources-press-inquiries-social">For all official statements, please refer to our <a href="https://github.com/BTCPrivate" target="_blank">Github</a> and our <a href="https://twitter.com/BitcoinPrivate" target="_blank">Twitter</a>.</p>

					<h3 localization-tag="resources-press-kit-title">Press Kit</h3>
					<p localization-tag="resources-press-kit-text">You can download a zip file containing <a href="presskit/presskit.zip" download>Bitcoin Private's branding assets here</a>.</p>

					<h3 localization-tag="resources-official-links-title">Official Links</h3>
					<p localization-tag="resources-official-links-text">You can view a <a href="https://github.com/BTCP-community/official-links/blob/master/README.md" target="_blank">directory of official Bitcoin Private links here</a>.</p>
				</div>

				<div class="col-xs-12 col-sm-3 col-sm-offset-3 links">
					<h3 localization-tag="resources-social-title">We're Social</h3>
					<a href="https://www.facebook.com/bitcoinprivate/" class="color-facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
					<a href="https://twitter.com/bitcoinprivate" class="color-twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
					<a href="https://www.reddit.com/r/BitcoinPrivate/" class="color-reddit" target="_blank"><i class="fa fa-reddit-alien"></i> Reddit</a>
					<a href="https://discord.gg/46U2p4m" class="color-discord" target="_blank"><i class="fa fa-comments"></i> Discord</a>
					<a href="https://t.me/BTCPrivate" class="color-telegram" target="_blank"><i class="fa fa-telegram"></i> Telegram</a>
					<a href="https://github.com/BTCPrivate/BitcoinPrivate" class="color-github" target="_blank"><i class="fa fa-github"></i> GitHub</a>
				</div>

			</div>
		</div>
	</div>