<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<div id="team" class="team row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 team-page">
          <h1 class="team__heading section-heading text-center" localization-tag="why-btcp-header-title"><span class="color-primary">Development</span> <span class="color-secondary">Roadmap</span></h1>
        </div>
      </div>

      <div class="row">

        <div class="cd-horizontal-timeline">
          <div class="timeline">
            <div class="events-wrapper">
              <div class="events">
                <ol>
                  <li><a href="#0" data-date="30/10/2017" class="year2017">Dec</a></li>
                  <li><a href="#0" data-date="15/01/2018">Jan</a></li>
                  <li><a href="#0" data-date="15/02/2018" class="snapshot">Feb</a></li>
                  <li><a href="#0" data-date="15/03/2018">Mar</a></li>
                  <li><a href="#0" data-date="15/04/2018" class="selected wearehere">Apr</a></li>
                  <li><a href="#0" data-date="01/07/2018">Q2</a></li>
                  <li><a href="#0" data-date="01/10/2018" class="year2018">Q3</a></li>
                  <li><a href="#0" data-date="15/12/2018">Q4</a></li>
                  <li><a href="#0" data-date="01/05/2019" class="year2019">&nbsp;</a></li>

                </ol>

                <span class="filling-line" aria-hidden="true"></span>
              </div> <!-- .events -->
            </div> <!-- .events-wrapper -->

            <ul class="cd-timeline-navigation">
              <li><a href="#0" class="prev">Prev</a></li> <!-- class inactive -->
              <li><a href="#0" class="next">Next</a></li>
            </ul> <!-- .cd-timeline-navigation -->
          </div> <!-- .timeline -->

          <div class="events-content">
            <ol>
              <li data-date="30/10/2017">
                <h2>DECEMBER 2017</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">First pull request made, Dec 24</span>
                  </p>
                </div>
              </li>

              <li data-date="15/01/2018">
                <h2>JANUARY 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Replay Protection, Jan 5</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">BTC UTXO integration, Jan 7</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Eleos wallet, Jan 8</span>
                  </p class="task">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Release of Electrum Wallet, Jan 27</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">First fork simulation and testnet, Jan 28</span>
                  </p>
                </div>
              </li>

              <li data-date="15/02/2018">
                <h2>FEBRUARY 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Replay Protection Upgraded, Feb 18</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Full Node Desktop Wallet, Feb 20</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">BIP9, Feb 23</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Second Testnet, Feb 23</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Partial SegWit Support, Feb 25</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Final Testnet, Feb 26</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Allowed coin claim testing</span>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Snapshot of BTC and ZCL, Feb 28</span>
                  </p>
                </div>
              </li>

              <li data-date="15/03/2018">
                <h2>MARCH 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Fork-merge and Mainnet Launch, March 2-3</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">First BTCP Trezor txn, March 9</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">First BTCP Ledger Nano S txn, March 16</span>
                  </p>
                </div>
              </li>

              <li data-date="15/04/2018" class="selected">
                <h2>APRIL 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Enable SegWit coin claiming, April 11</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Ledger Nano S support, April 16</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Electrum release for Ledger Nano S, April 19</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Trezor code merged, April 23</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-check-circle light-blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Closed Beta Merchant Platform Release</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-flag yellow-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">BTCP Rebase Begins [MAJOR]</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Rebase BTCP from ZEC to BTC codebase. ZEC codebase 3 years behind BTC</span>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Also enables facile upgrading of the BTCP node with BTC upstream merges</span>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Major upgrades include:</span>
                  <span class="subTask2"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> BIP32</span>
                  <span class="subTask2"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> SegWit</span>
                  <span class="subTask2"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Lightning Network</span>
                  <span class="subTask2"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Many more</span>

                </div>
              </li>

              <li data-date="01/07/2018">
                <h2>Q2 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Open Beta Merchant Platform Release</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">BTCP Google Chrome extension</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Seed tor nodes</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">One-click miner</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Allows users to easily mine BTCP at their mining pool of choice or solo mining</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Translated wallets</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Will include all the languages present on our website</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Merchant Platform Phase 2</span>
                  </p>
                </div>
              </li>

              <li data-date="01/10/2018">
                <h2>Q3 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Finish rebasing of BTCP - release new core node</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Initiate soft fork for full SegWit support</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Lightning Network Initiated</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Shielded Electrum Wallet</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Embedded Tor / Tor by default</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Tor Wallet</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Complements embedded Tor</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Merchant Platform Phase 2 & 3</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> E-comerce plugins integration (Shopify, Magento, WHMCS, 3dCart, Woocommerce, PrestaShop, Bigcommerce, etc)</span>
                </div>
              </li>

              <li data-date="15/12/2018">
                <h2>Q4 2018</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Dandelion privacy protocol</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Superior obfuscation technique involving the “stem” and the “fluff” <br/> that will help to further privatize Bitcoin Private’s transparent txns</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-iconn">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Default Privacy</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Make shielded txns default in all wallets</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Merchant Platform Phase 3 & 4</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Payment Gateway Integration</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Upgraded Wallet UI/UX</span>
                  </p>
                </div>
              </li>

              <li data-date="01/05/2019">
                <h2>2019</h2>
                <br/>
                <div class="taskList">
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Evaluate alternate proofs of work</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">BTCP DEx</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Incorporate new Jubjub / Sapling enhancements</span>
                  </p>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> iOS wallet with shielded txns</span>
                  <span class="subTask"><i class="fas fa-genderless blue-icon">&nbsp;&nbsp;</i> Merchant platform with shielded txns</span>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Shielded Transactions become default</span>
                  </p>
                  <p class="task">
                    <i class="fas fa-genderless blue-icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>
                    <span class="task-text">Evaluate making shielded transactions mandatory</span>
                  </p>
                </div>
              </li>

            </ol>
          </div> <!-- .events-content -->
        </div>

      </div>
    </div>
  </div>


