  <div id="team" class="team row section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 team-page">
          <h1 class="team__heading section-heading text-center" localization-tag="why-btcp-header-title"><span class="color-primary">Bitcoin</span> <span class="color-secondary">Private Team</span></h1>
        </div>
      </div>

      <div class="row">

        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 community visual-grouping team-page-info">
            <img class="community__img" src="images/icons/community.png">
            <div class="content">
              <h3 localization-tag="team-name-community">Community</h3>
              <p localization-tag="team-bio-community">Over 200 total contributors, with over 20 engineers having joined our initiative in just 30 days time!<br>Reach out to us to join :-)</p>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jake.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jake">Jacob Brutman, Ph.D.</h3>
              <p localization-tag="team-bio-jake">Operations Lead</p>
              <a href="http://twitter.com/CryptoJake22"><i class="fa fa-twitter visual"></i>@CryptoJake22</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/giuseppe.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-giuseppe">Giuseppe Stuto</h3>
              <p localization-tag="team-bio-giuseppe">Marketing &amp; Strategy Lead</p>
              <a href="http://twitter.com/gstuto"><i class="fa fa-twitter visual"></i>@gstuto</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/dan.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-dan">Dan Farina</h3>
              <p localization-tag="team-bio-dan">Full Stack Developer Lead</p>
              <a href="http://twitter.com/daniel_artes"><i class="fa fa-twitter visual"></i>@daniel_artes</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/chris.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-chris">Chris Sulmone</h3>
              <p localization-tag="team-bio-chris">Lead Wallet Developer</p>
              <a href="http://twitter.com/sulmone"><i class="fa fa-twitter visual"></i>@sulmone</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jamie.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jamie">Jamie Owens</h3>
              <p localization-tag="team-bio-jamie">Lead Cloud/Mining Pool Developer</p>
              <a href="http://twitter.com/interbiznw"><i class="fa fa-twitter visual"></i>@InterBizNW</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/tran.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-tran">Tam Tran</h3>
              <p localization-tag="team-bio-tran">Lead Web Developer</p>
              <a href="http://twitter.com/ttran4040"><i class="fa fa-twitter visual"></i>@Ttran4040</a>
            </div>
          </div>
        </div>


        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/mrwho.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-mrwho">Mr. Wh0</h3>
              <p localization-tag="team-bio-mrwho">Blockchain &amp; Wallet Developer</p>
              <a href="http://twitter.com/vnzonline"><i class="fa fa-twitter visual"></i>@VNZonline</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/nika.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-mike">Nika Dahlbacka</h3>
              <p localization-tag="team-bio-mike">Adoption &amp; Inclusion Lead</p>
              <a href="http://twitter.com/snickerbacka"><i class="fa fa-twitter visual"></i>@snickerbacka</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jesse.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesse">Jesse</h3>
              <p localization-tag="team-bio-jesse">Lead Blockchain Developer</p>
              <a href="http://twitter.com/0x4a45535345"><i class="fa fa-twitter visual"></i>@0x4a45535345</a>
            </div>
          </div>
        </div>



        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jon.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jon">Jon Layton</h3>
              <p localization-tag="team-bio-jon">Senior Developer</p>
              <a href="http://twitter.com/Jon_S_Layton"><i class="fa fa-twitter visual"></i>@Jon_S_Layton</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/josepht.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-josepht">JosephT</h3>
              <p localization-tag="team-bio-josepht">Lead Designer</p>
              <a href="http://twitter.com/CryptoJayTee"><i class="fa fa-twitter visual"></i>@CryptoJayTee</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/nsuva.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-nsuva">Nuno Uva</h3>
              <p localization-tag="team-bio-josepht">Graphic & UI Designer</p>
              <a href="http://twitter.com/UvaNuno"><i class="fa fa-twitter visual"></i>@UvaNuno</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/manuel.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesse">Manuel Ascoli</h3>
              <p localization-tag="team-bio-jesse">Localisation Team Lead</p>
              <a href="http://twitter.com/manuelascoli"><i class="fa fa-twitter visual"></i>@manuelascoli</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/patrick.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesse">Patrick de Groot</h3>
              <p localization-tag="team-bio-jesse">General Developer</p>
              <a href="http://twitter.com/pdeg85"><i class="fa fa-twitter visual"></i>@pdeg85</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/nielsb.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesse">Niels Buekers</h3>
              <p localization-tag="team-bio-jesse">Development Team</p>
              <a href="http://twitter.com/Pega88"><i class="fa fa-twitter visual"></i>@Pega88</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/otis.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-otis">Michael Otis</h3>
              <p localization-tag="team-bio-otis">Senior Developer</p>
              <a href="http://twitter.com/OHHHtis"><i class="fa fa-twitter visual"></i>@OHHHtis</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/root.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-tran">R0otChiXor</h3>
              <p localization-tag="team-bio-tran">Wallet/Blockchain Developer</p>
              <a href="http://twitter.com/R0otChiXor"><i class="fa fa-twitter visual"></i>@R0otChiXor</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/louise.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-tran">Louise Fox</h3>
              <p localization-tag="team-bio-tran">Wallet Developer</p>
              <a href="http://twitter.com/kaboomfox"><i class="fa fa-twitter visual"></i>@kaboomfox</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/zane.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-tran">Zane Thomas</h3>
              <p localization-tag="team-bio-tran">Blockchain Developer</p>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/djoz.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-tai">Johan Zasada</h3>
              <p localization-tag="team-bio-tai">Wallet/Blockchain Developer</p>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/awoogs.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-awoogs">Don Shin</h3>
              <p localization-tag="team-bio-awoogs">Blockchain & Wallet Developer</p>
              <a href="http://twitter.com/donshin"><i class="fa fa-twitter visual"></i>@donshin</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/mattpass.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-mattpass">Matt Pass</h3>
              <p localization-tag="team-bio-mattpass">Software Developer</p>
              <a href="http://twitter.com/mattpass"><i class="fa fa-twitter visual"></i>@mattpass</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/col.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-col">Col Ashwin</h3>
              <p localization-tag="team-bio-col">Software Developer</p>
              <a href="http://twitter.com/KernowAcid"><i class="fa fa-twitter visual"></i>@KernowAcid</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jonathant.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jonathant">Jonathan Twomley</h3>
              <p localization-tag="team-bio-jonathant">General Developer</p>
              <a href="http://twitter.com/tpposter"><i class="fa fa-twitter visual"></i>@tpposter</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/sulmone.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-sulmone">Tim Sulmone</h3>
              <p localization-tag="team-bio-sulmone">Support Lead</p>
              <a href="http://twitter.com/Sikbik_BTCP"><i class="fa fa-twitter visual"></i>@Sikbik_BTCP</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/aurelius.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-josepht">Aurelius</h3>
              <p localization-tag="team-bio-josepht">Marketing & Blog Contributor/Recruiter</p>
              <a href="http://twitter.com/cryptoaurelius"><i class="fa fa-twitter visual"></i>@cryptoaurelius</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/leaf.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-leaf">Dan "Leaf" Cohen</h3>
              <p localization-tag="team-bio-leaf">Partnerships Lead</p>
              <a href="https://twitter.com/cryptoleafwind"><i class="fa fa-twitter visual"></i>@cryptoleafwind</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/peter.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-peter">Peter Hatzipetros, Esq.</h3>
              <p localization-tag="team-bio-peter">Legal Counsel</p>
              <a href="http://twitter.com/petros_esq"><i class="fa fa-twitter visual"></i>@petros_esq</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/jesses.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesses">Jesse Sugar</h3>
              <p localization-tag="team-bio-jesses">Legal Counsel</p>
              <a href="http://twitter.com/jessesugar1"><i class="fa fa-twitter visual"></i>@jessesugar1</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/geoff.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-jesses">Geoff Hopkins</h3>
              <p localization-tag="team-bio-jesses">Consulting</p>
              <a href="http://twitter.com/sasbenjr"><i class="fa fa-twitter visual"></i>@sasbenjr</a>
            </div>
          </div>
        </div>


        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/phil.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-phil">Phil Dean</h3>
              <p localization-tag="team-bio-phil">Lead Support</p>
              <a href="http://twitter.com/Phillip_R_Dean"><i class="fa fa-twitter visual"></i>@Phillip_R_Dean</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/didi.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-didi">Didi Taihuttu</h3>
              <p localization-tag="team-bio-didi">Privacy Evangelist</p>
              <a href="http://twitter.com/diditaihuttu"><i class="fa fa-twitter visual"></i>@diditaihuttu</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/savo.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-savo">Savo</h3>
              <p localization-tag="team-bio-savo">Marketing & Partnerships</p>
              <a href="http://twitter.com/SavoBTCP"><i class="fa fa-twitter visual"></i>@SavoBTCP</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/barratt.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-barratt">Ben Barratt</h3>
              <p localization-tag="team-bio-barratt">Partnerships</p>
              <a href="http://twitter.com/bitcoinmaster10"><i class="fa fa-twitter visual"></i>@bitcoinmaster10</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/anderson.png">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-barratt">Matt Anderson </h3>
              <p localization-tag="team-bio-barratt">Partnerships</p>
              <a href="http://twitter.com/Mateo_Official"><i class="fa fa-twitter visual"></i>@Mateo_Official</a>
            </div>
          </div>
        </div>

        <div class="team__container col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="team__img col-xs-12 col-sm-12 col-md-6">
            <img class="team__img_inner" src="images/team/hannah.jpg">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="team__content content">
              <h3 localization-tag="team-name-barratt">Hannah Steinke</h3>
              <p localization-tag="team-bio-barratt">Partnerships</p>
              <a href="http://twitter.com/hannahsteinke"><i class="fa fa-twitter visual"></i>@hannahsteinke</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
