/*
 * Countdown
 */

.whitepaper {

  &-container {

    &-inner {
      padding: 3rem;
    }
  }
}

//- Confetti
.confetti-canvas {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//- Snapshot
.snapshot {

  &-container {
    display: none;
    margin: 40px 0 40px 0;

    h1,
    h2 {
      color: #272d63;
    }
  }
}

//- Awaiting
.awaiting {

  &-container {
    display: none;
    margin: 40px 0 40px 0;

    h1,
    h2 {
      color: #272d63;
    }
  }
}

//- Countdown
.countdown {

  &-logo {
    display: inline-block;
    padding: 3rem 3rem 0;

    img {
       height: 160px;
       vertical-align: baseline;
       margin-right: 20px;
       margin-bottom: 0px!important;
    }
  }

  &-logotype {
    position: relative;
    display: inline-block;
    top: -30px;
    text-align: left;
  }

  &-snapshot-message {
    color: #272d63;
    padding: 3rem;
  }

  &-container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &-inner {
      padding: 3rem;
    }
  }
}

//- Block details
.block {

  h1,
  h2 {
    margin: 20px 0;
    color: #272d63;
  }

  span {
    color: #272d63;
  }

  &-icon {
    width: 60px;
  }

  &-details {
    margin: 20px 0;

    &-container {
      display: none;
    }

    &-inner {
      display: flex;
      align-items: center;
      justify-content: center;

      &-btc {
        float: right;
      }

      &-zlc {
        float: left;
      }
    }

    &-message {
      font-size: 30px;
      font-weight: bold;
      margin: 0 10px;
      color: #272d63;
    }

    img {
      margin: 0 0 0 0!important;
    }
  }
}

//- Counter
.counter {
  position: relative;
  display: inline-block;
  width: 25%;
  float: left;

  &-inner {
    margin: 0 auto;
    width: 120px;

    &:after {
      content: '';
      position: absolute;
      display: block;
      margin: 0 auto;
      height: 120px;
      width: 120px;
      top: 0;
      border: solid 10px rgba(black, 0.05);
      border-radius: 100%;
    }
  }

  .wrapper {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    & * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .pie {
      width: 50%;
      height: 100%;
      transform-origin: 100% 50%;
      position: absolute;
      background: transparent;
      border: solid 10px #272d63;
    }

    .spinner {
      width: 60px;
      height: 120px;
      border-right: none;
      border-radius: 100% 0 0 100% / 50% 0 0 50%;
      z-index: 200;
    }

    &:hover .spinner,
    &:hover .filler,
    &:hover .mask {
      animation-play-state: running;
    }

    .filler {
      left: 50%;
      opacity: 0;
      z-index: 100;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      border-left: none;
    }

    .mask {
      width: 50%;
      height: 100%;
      position: absolute;
      background: inherit;
      opacity: 1;
      z-index: 300;
      overflow: hidden;
    }
  }
}

.numbers {
  position: absolute;
  width: 100%;
  height: 120px;
  margin-top: 0px;
  font-size: 48px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unit {
  position: absolute;
  width: 100%;
  font-size: 21px;
  text-align: center;
}


//- Animations
@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes opa {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.days {

  &-anim-spinner {
    animation: rota 864000s linear infinite reverse;
  }
}

.days {

  &-anim-filler {
    animation-delay: opa 864000s steps(1, end) infinite;
  }

  &-anim-mask {
    animation-delay: opa 864000s steps(1, end) infinite reverse;
  }
}

.hours {

  &-anim-spinner {
    animation: rota 86400s linear infinite reverse;
  }

  &-anim-filler {
    animation-delay: opa 86400s steps(1, end) infinite;
  }

  &-anim-mask {
    animation-delay: opa 86400s steps(1, end) infinite reverse;
  }
}

.mins {

  &-anim-spinner {
    animation: rota 3600s linear infinite reverse;
  }

  &-anim-filler {
    animation-delay: opa 3600s steps(1, end) infinite;
  }

  &-anim-mask {
    animation-delay: opa 3600s steps(1, end) infinite reverse;
  }
}

.secs {

  &-anim-spinner {
    animation: rota 60s linear infinite reverse;
  }

  &-anim-filler {
    animation-delay: opa 60s steps(1, end) infinite;
  }

  &-anim-mask {
    animation-delay: opa 60s steps(1, end) infinite reverse;
  }
}


//- Media Queries and h/c responsive
@media (min-width: 481px) and (max-width: 767px) {


}

@media (max-width: 767px) {

  .countdown {

    &-logo {

      img {
        display: none;
      }
    }

    &-logotype {
      position: relative;
      display: inline-block;
      top: 5px;
      text-align: center;

      h1 {
        display: none;
      }
    }
  }

  .awaiting {

    &-container {
      margin: 40px 0 40px 0;
    }
  }

  .block {
    &-details {

      &-inner {
        float: none;
        padding: 10px;
      }
    }
  }
}

@media (max-width: 580px) {

  .counter {
    width: 45%;
    height: 170px;

    &:nth-child(odd) {
      margin-left: 5%;
    }

    &:nth-child(even) {
      margin-right: 5%;
    }
  }
}