/*
 * Fonts
 */

// Roboto
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,500);

// Smoothing
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
