/*
 * Main
 */

html,
body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.logo {
	height: 40px;

	@media (max-width: $screen-sm-min) {
		height: 35px;
		margin-top: 5px;
	}
}

#noty_layout__topRight {
	top: 50px;
	right: 10px;
}

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
	background: #efefef;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	will-change: transform;
	background-color: $color-white;
	min-height: 100%;
	z-index: 100;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
	z-index: 0;
}

.content-panel {
	padding: 0 0 0 0;

	// &-inner {
	// }

	&:before {
		content: '';
		display: block;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 0.5s ease-in-out;
	}

	&.content-panel-open {
		position: fixed;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			display: block!important;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 101;
		}
	}
}

.navbar {
	margin-bottom: 0;
	height: 50px;
	min-height: 50px;
	z-index: 200;

	.container-fluid {
		padding: 0;
	}

	&-header {
		margin: 0 0 0 0!important;
		max-width: calc(100vw - 60px);
		float: left;
	}
	&-toggle {
		transition: all 0.3s;
		margin: 10px;
	}

	&-header {
		transition: all 0.3s;
		transform: translateX(0px);

		&.header-open {
			transform: translateX(-256px);
		}
	}

	&-brand {
		padding: 5px 0 0 10px!important;
		margin: 0 0 0 0!important;
		height: 45px;
	}

	&-collapse {
		padding-left: 5px;
		padding-right: 5px;
	}

	&-toggle {
		border-color: $color-secondary!important;

		span {
			background-color: $color-secondary!important;
		}

		&.toggle-open:hover,
		&:hover {
			background-color: $color-secondary!important;

			span {
				background-color: $color-white!important;
			}
		}

		&.toggle-open:focus,
		&:focus {
			border-color: $color-secondary!important;
			background-color: transparent!important;

			span {
				background-color: $color-secondary!important;
			}
		}

		@media (min-width: $screen-sm-min) {
			display: block!important;
		}
	}
}

.sidebar {
	transition: all 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 50px;
	height: 100%;
	border-top: 1px solid rgba($color-secondary, 0.35);
	border-left: 1px solid rgba($color-secondary, 0.35);
	color: $color-white;
	z-index: -10;
	overflow: hidden;

	&-inner {
		position: absolute;
		width: 100%;
		height: calc(100% - 51px);
		border-top: 1px solid rgba($color-secondary, 0.35);
		overflow-y: scroll;
	}

	&-header {
		padding: 20px;
	}

	&-list {
		padding: 0 0 50px 0;
		margin: 0 0 0 0;
	}

	&-collapse {
		padding-bottom: 5px;
	}

	ul p {
		color: $color-white;
		padding: 10px;
	}

	ul li a {
		padding: 10px 20px;
		font-size: 1.1em;
		display: block;
		text-decoration: none;
		color: $color-primary;
	}

	ul li a:hover {
		color: $color-primary;
		background: $color-secondary;
	}
	ul li.active>a,
	a[aria-expanded="true"] {
		color: $color-primary;
		background: $color-secondary;
	}

	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		color: $color-primary;
		background: $color-secondary;

		&:hover {
			color: $color-white;
			background: $color-primary;
		}
	}
}

#navbar-collapse {
	@media (max-width: $screen-sm-min) {
		background: $color-white;
		border-radius: 10px;
	}
}

#language-button i {
	margin-left: 5px;
}

#language-dropdown {
	border-radius: 4px !important;
	width: 320px;
	padding: 0;

	a {
		display: block;
		line-height: 40px;
		color: $color-primary;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $color-primary;
			color: $color-white;
		}
	}
}

#hero {
	background: url(../images/backgrounds/hero-background.jpg);
	background-size: cover;
	min-height: 700px;
	padding-top: $navbar-height + 20px;
	padding-bottom: 40px;

	img {
		margin-bottom: 20px;
	}

	h1 {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 14px;
	}

	p {
		margin-bottom: 18px;
	}

	h3 {
		margin-bottom: 30px;
	}

	.btn {
		text-decoration: none;
	}
}

#why-btcp {
	.visual-grouping .content h3 {
		color: $color-primary;
	}
}
#roadmap, #team, #faq {
	background: rgba(117, 160, 213, 0.25);
}

#hard-fork {
	//background: rgba(117, 160, 213, 0.25);

	@media (max-width: $screen-sm-min) {
		img {
			margin-bottom: 40px;
		}
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}
}

#faq {
	h3:not(:first-child) {
		margin-top: 40px;
	}
}

.community {

	&__img {
		border: 4px solid $color-secondary;
		border-radius: 80px;
		margin-bottom: 40px;
	}
}

.team {
	background: $color-layout-gray;

	.row>div:not(:last-child) {
		margin: 0 0 40px 0;
	}

	h3 {
		margin-top: 80px;
		margin-bottom: 8px;
	}

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	a {
		font-size: 16px;
		line-height: 24px;
		display: block;
		text-decoration: none;

		i {
			font-size: 16px;
			padding-right: 4px;
			text-align: center;
		}
	}

	a.btn {
		width: 320px;
		display: inline-block;
	}

	p {
		margin: 0;
	}

	&__heading {
		margin: 60px 0 40px;
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;

		&_inner {
			margin: 20px 0;
			border: 4px solid $color-white;
			border-radius: 80px;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__page {
		padding-top: 120px;
	}

	&__content {
		text-align: left;
	}

	&__page-info {
		margin-bottom: 120px;
	}

	&__link {
		min-height: 24px;
	}

	@media (max-width: $screen-sm-min) {
		&__heading {
			margin: 20px 0;
		}

		&__img {
			justify-content: flex-end;

			&_inner {
				float: right;
			}
		}

		.community {

			&__img {
				margin-bottom: 20px;
			}
		}
	}
}

#blog {
  background: $color-layout-gray;

  a {
	  color: $color-black;
    text-decoration: none;
  }

  img {
	  height: 50px;
		width: 50px;
    border: 4px solid white;
    border-radius: 25px;
  }

  p {
	  font-size: 1.5em;
		line-height: 2;
	}

  .blog-page {
    padding-top: 120px;
  }

  .post-avatar {
	  float: left;
		margin-right: 10px;
	}

  .post-meta {
	  font-size: 1.3em;
	}

  .post-author {
	  color: $color-primary;
	}

  .post-time {
	  color: $color-secondary;
	}

  .post-date {
	  float: left;
	}

  .post-divider {
	  float: left;
		margin-left: 8px;
		margin-right: 8px;
	}

  .post-article {
	  background-color: white;
		border: 1px solid gray;
		border-radius: 4px;
		margin: 25px 0px;
		padding: 25px;
	}

  .post-body {
	  margin-top: 20px;
	}

  .post-footer {
	  a {
		  font-size: 1.3em;
		  color: $color-secondary;
		}
	}
}

.wallets {
	//background: rgba(117, 160, 213, 0.25);


	.wallet {

		&-content {

			p {
				min-height: 21px;
			}
		}
	}
}

#resources {
	background: $color-layout-gray;

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	.coinmarketcap-currency-widget {
		background: $color-white;
		border-radius: 10px;
	}

	.links a {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 20px;
		display: block;
		text-decoration: none;

		i {
			font-size: 32px;
			width: 50px;
			text-align: center;
		}
	}

	@media (max-width: $screen-sm-min) {
		.row>div:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

#press {
	background: $color-layout-gray;

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	.coinmarketcap-currency-widget {
		background: $color-white;
		border-radius: 10px;
	}

	.links a {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 20px;
		display: block;
		text-decoration: none;

		i {
			font-size: 32px;
			width: 50px;
			text-align: center;
		}
	}

	.row>div:not(:last-child) {
		margin-bottom: 40px;
	}
}

.donate {

	&-title {

		h1 {
			margin: 3.5rem auto!important;
		}
	}

	&-intro {
		margin: 2.5rem auto;
		text-align: center;
	}

	.icon {
		width: 5rem;
		height: 5rem;
	}

	&-wallet {
		margin: 2.5rem auto;
		text-align: center;
	}

	&-content {

		&-title {

			h3 {
				margin: 1rem 0!important;
			}
		}

		&-card {
			text-align: center;

			.list-group-item {
				word-wrap: break-word;
			}
		}
	}
}

.pools {

	&-title {

		h1 {
			margin: 60px 0;

			@media (max-width: $screen-sm-min) {
				margin: 40px 0 20px;
			}
		}
	}

	&-intro {
		text-align: center;
	}

	&-content {
		margin: 40px 0;

		&-title {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		&-message {
			text-align: center;
		}

		&-official {}

		&-cta {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;

			@media (max-width: $screen-sm-min) {
				margin: 40px 0;
			}
		}
	}

	&-table {
		padding: 15px;
		border-radius: 25px;
		background: #efefef;

		&-inner {
			margin-bottom: 0;
			word-break: break-all;
		}

		&-item {

			&-title {

				span {
					white-space: nowrap;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
				}
			}
		}
	}
}

.disclaimer {
	text-align: justify;

	&-header {

		h1 {
			margin: 60px 0 40px;
		}
	}
}

.footer {
	padding: 0.25rem 0.25rem;
	background: $color-primary;

	&-logo {
		height: 25px;
	}

	.links {
		margin: 0;

		li:last-child a {
			padding-right: 0;
		}

		a {
			padding: 0 15px;
			font-size: 16px;
			font-weight: 700;
			color: $color-white;
			line-height: 48px;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: darken($color-white, 15%);
			}
		}
	}

	&-upper,
	&-lower {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0.5rem;
	}

	&-upper {

		&-inner {
			display: flex;
			align-items: center;
		}
	}

	&-lower {

		&-inner {
			display: flex;
			align-items: center;
			padding: 2rem 1.5rem 1.5rem;
			border-top: 1px solid $color-primary-shade;
		}
	}

	&-legals {

		a {
			margin: 0 1rem;
			text-decoration: none;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $color-white;
			}
		}
	}

	&-donate {

		&-message {
			text-align: center;
			text-transform: none;
		}

		.card-title {
			margin: 0.5rem 0.5rem 0.25rem;
			text-transform: none;
		}

		.list-group-item {
			color: $color-white;
			background-color: $color-primary;
			border-color: $color-primary-shade;
		}
	}
}

#support-button i {
	position: absolute;
	right: 15px;
}

#support-dropdown {
	border-radius: 4px !important;
	width: 160px;
	padding: 0;

	a {
		display: block;
		line-height: 40px;
		color: $color-primary;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $color-primary;
			color: $color-white;
		}
	}
}

.fork-date {
	margin-top: 0 !important;
}

.snap-date {
	margin-bottom: 0 !important;
	;
}

.notification-main {

	&-content {
		text-align: center;
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-spacer {
	margin: 20px 0;
}

/*roadmap*/

.cd-horizontal-timeline {
	opacity: 0;
	margin: 2em auto;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	transition: opacity 0.2s;
}
.cd-horizontal-timeline::before {
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}
.cd-horizontal-timeline.loaded {
	/* show the timeline after events position has been set (using JavaScript) */
	opacity: 1;
}
.cd-horizontal-timeline .timeline {
	position: relative;
	height: 150px;
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
	margin-top: 30px;
}
.cd-horizontal-timeline .events-wrapper {
	position: relative;
	height: 100%;
	margin: 0 40px;
	overflow: hidden;
}
/* these are used to create a shadow effect at the sides of the timeline */
/*
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {

  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
*/
.cd-horizontal-timeline .events {
	/* this is the grey line/timeline */
	position: absolute;
	z-index: 1;
	left: 0;
	top: 70px;
	height: 1px;
	/* width will be set using JavaScript */
	background: #c1c1c1;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
	/* this is used to create the green line filling the timeline */
	position: absolute;
	z-index: 1;
	left: 0;
	top: -1px;
	height: 3px;
	width: 100%;
	background-color: #272d63;
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	-ms-transform: scaleX(0);
	-o-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-ms-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
	position: absolute;
	bottom: -50px;
	z-index: 2;
	text-align: center;
	font-size: 1.3rem;
	padding-bottom: 15px;
	color: #383838;
	/* fix bug on Safari - text flickering while timeline translates */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	width: 60px;
}

.cd-horizontal-timeline .events a::after {
	/* this is used to create the event spot */
	content: '';
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	bottom: 45px;
	height: 12px;
	width: 12px;
	border-radius: 50%;
	border: 2px solid #c1c1c1;
	background-color: #FFFFFF;
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	-moz-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;
}

.cd-horizontal-timeline .events .wearehere::before {
	display: block;
	background: url(../images/marker.png) no-repeat top center;
	content: " ";
	position: relative;
	background-position-x: 1px;
	width: 60px;
	height: 70px;
	z-index: -1;
	background-size: 60px 62px;
	bottom: 10px;
}

.cd-horizontal-timeline .events .snapshot::before {
	display: block;
	background: url(../images/snapshot.png) no-repeat top center;
	content: " ";
	position: relative;
	background-position-x: 1px;
	width: 40px;
	height: 40px;
	z-index: -1;
	background-size: 40px 40px;
	bottom: 32px;
	left: 9px;
}
.cd-horizontal-timeline .events .year2017::before {
	display: block;
	content: "2017";
	position: relative;
	font-family: "Ubuntu", serif;
	color: #272D63;
	font-weight: 700;
	background-position-x: 1px;
	width: 40px;
	height: 40px;
	z-index: -1;
	background-size: 40px 40px;
	bottom: 13px;
	left: 9px;
}

.cd-horizontal-timeline .events .year2018::before {
	display: block;
	content: "2018";
	position: relative;
	font-family: "Ubuntu", serif;
	color: #272D63;
	font-weight: 700;
	background-position-x: 1px;
	width: 40px;
	height: 40px;
	z-index: -1;
	background-size: 40px 40px;
	bottom: 13px;
	left: 9px;
}
.cd-horizontal-timeline .events .year2019::before {
	display: block;
	content: "2019";
	position: relative;
	font-family: "Ubuntu", serif;
	color: #272D63;
	font-weight: 700;
	background-position-x: 1px;
	width: 40px;
	height: 40px;
	z-index: -1;
	background-size: 40px 40px;
	bottom: 13px;
	left: 9px;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
	background-color: #FFAD05;
	border-color: #FFAD05;

}
.cd-horizontal-timeline .events a.selected {
	pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
	background-color: #FFAD05;
	border-color: #FFAD05;
	width:17px;
	height:17px;
	bottom:42px;
}
.cd-horizontal-timeline .events a.older-event::after {
	border-color: #FFFFFF;
	background-color: #75A0D5;
}
.cd-horizontal-timeline .events a.older-event.selected::after {
	border-color: #FFAD05;
	background-color: #FFAD05;
}

@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 6em auto;
	}
	.cd-horizontal-timeline::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}
@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 6em auto;
	}
	.cd-horizontal-timeline::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}
@media only screen and (min-width: 1100px) {
	.cd-horizontal-timeline {
		margin: 6em auto;
	}
	.cd-horizontal-timeline::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}

.cd-timeline-navigation a {
	/* these are the left/right arrows to navigate the timeline */
	position: absolute;
	z-index: 1;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 34px;
	width: 34px;
	border-radius: 50%;
	border: 2px solid #666;
	/* replace text with an icon */
	overflow: hidden;
	color: transparent;
	text-indent: 100%;
	white-space: nowrap;
	-webkit-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	transition: border-color 0.3s;
	top: 165px;
	z-index: 10;
}
.cd-timeline-navigation a::after {
	/* arrow icon */
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(../images/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
	left: 0;
	-webkit-transform: translateY(-50%) rotate(180deg);
	-moz-transform: translateY(-50%) rotate(180deg);
	-ms-transform: translateY(-50%) rotate(180deg);
	-o-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
	right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
	border-color: #FFAD05;
}
.cd-timeline-navigation a.inactive {
	cursor: not-allowed;
}
.cd-timeline-navigation a.inactive::after {
	background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
	border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
	position: relative;
	width: 100%;
	margin: 2em 0;
	overflow: hidden;
	-webkit-transition: height 0.4s;
	-moz-transition: height 0.4s;
	transition: height 0.4s;
	height: auto !important;
	padding-left: 100px;
	margin-top: 0px;
}
.cd-horizontal-timeline .events-content li {
	position: absolute;
	z-index: 1;
	width: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	padding: 0 5%;
	opacity: 0;
	-webkit-animation-duration: 0.4s;
	-moz-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
	/* visible event content */
	position: relative;
	z-index: 2;
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
	-webkit-animation-name: cd-enter-right;
	-moz-animation-name: cd-enter-right;
	animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-name: cd-enter-left;
	-moz-animation-name: cd-enter-left;
	animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
	-webkit-animation-direction: reverse;
	-moz-animation-direction: reverse;
	animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
	max-width: 800px;
	margin: 0 auto;
}
.cd-horizontal-timeline .events-content h2 {
	font-size: 2.2rem !important;
	font-family: "Ubuntu", verdana, sans-serif;
	line-height: 1.2;
	color: #272D63;
	font-weight: 700;
	padding-left: 20px;
}
.cd-horizontal-timeline .events-content em {
	display: block;
	font-style: italic;
	margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
	content: '- ';
}
.cd-horizontal-timeline .events-content p {
	font-size: 1.7rem;
	color: #050607;
	font-family: "Ubuntu", sans-serif;

}
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
	line-height: 1.6;
}
@media only screen and (min-width: 768px) {
	.cd-horizontal-timeline .events-content h2 {
		font-size: 3rem;
		font-family: "Ubuntu", sans-serif;
	}
	.cd-horizontal-timeline .events-content em {
		font-size: 2rem;
	}
	.cd-horizontal-timeline .events-content p {
		font-size: 1.7rem;
	}
}

@media only screen and (max-width: 768px) {
	.cd-timeline-navigation{
		display: none;
	}
	.cd-horizontal-timeline .events-content{
		padding-left: 0px;
	}

}


@-webkit-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
@-moz-keyframes cd-enter-right {
	0% {
		opacity: 0;
		-moz-transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
	}
}
@keyframes cd-enter-right {
	0% {
		opacity: 0;
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}
@-webkit-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
	}
}
@-moz-keyframes cd-enter-left {
	0% {
		opacity: 0;
		-moz-transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0%);
	}
}
@keyframes cd-enter-left {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
}

.mainTitle{
	font-size: 2.5em;
	font-family: "Ubuntu", sans-serif;
	margin: auto;
	text-align: center;
	color: #272D63;
	font-weight: 500;
}
.green-icon{
	color: #34993a;
}

.light-blue-icon{
	color: #75a1d4;
}
.yellow-icon{
	color: #FFAD05;
}
.blue-icon{
	color: #666666;
}
.task{
	display: block;
}
.task-text{
	display: block;
	padding-left: 40px;
	margin-top: -26px;
}
.taskList{
	padding-left: 3%;
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
}
.subTask{
	color: #888;
	padding-left: 40px;
	font-size:14px;
	font-family: "Ubuntu", sans-serif;
	display: block;
	line-height: 21px;
}
.subTask2{
	color: #888;
	padding-left: 60px;
	line-height: 22px;
	font-size:14px;
	font-family: "Ubuntu", sans-serif;
	display: block;
	line-height: 21px;
}

.events ol, .events-content ol li, .cd-timeline-navigation li{
	list-style:none;
}

