/*
 * Main
 */

html,
body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.logo {
	height: 40px;

	@media (max-width: $screen-sm-min) {
		height: 35px;
		margin-top: 5px;
	}
}

#noty_layout__topRight {
	top: 50px;
	right: 10px;
}

.slideout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 256px;
	height: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 0;
	display: none;
	background: #efefef;
}

.slideout-menu-left {
	left: 0;
}

.slideout-menu-right {
	right: 0;
}

.slideout-panel {
	position: relative;
	will-change: transform;
	background-color: $color-white;
	min-height: 100%;
	z-index: 100;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
	overflow: hidden;
}

.slideout-open .slideout-menu {
	display: block;
	z-index: 0;
}

.content-panel {
	padding: 0 0 0 0;

	// &-inner {
	// }

	&:before {
		content: '';
		display: block;
		background-color: rgba(0, 0, 0, 0);
		transition: background-color 0.5s ease-in-out;
	}

	&.content-panel-open {
		position: fixed;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			display: block!important;
			top: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 101;
		}
	}
}

.navbar {
	margin-bottom: 0;
	height: 50px;
	min-height: 50px;
	z-index: 200;

	.container-fluid {
		padding: 0;
	}

	&-header {
		margin: 0 0 0 0!important;
		max-width: calc(100vw - 60px);
		float: left;
	}
	&-toggle {
		transition: all 0.3s;
		margin: 10px;
	}

	&-header {
		transition: all 0.3s;
		transform: translateX(0px);

		&.header-open {
			transform: translateX(-256px);
		}
	}

	&-brand {
		padding: 5px 0 0 10px!important;
		margin: 0 0 0 0!important;
		height: 45px;
	}

	&-collapse {
		padding-left: 5px;
		padding-right: 5px;
	}

	&-toggle {
		border-color: $color-secondary!important;

		span {
			background-color: $color-secondary!important;
		}

		&.toggle-open:hover,
		&:hover {
			background-color: $color-secondary!important;

			span {
				background-color: $color-white!important;
			}
		}

		&.toggle-open:focus,
		&:focus {
			border-color: $color-secondary!important;
			background-color: transparent!important;

			span {
				background-color: $color-secondary!important;
			}
		}

		@media (min-width: $screen-sm-min) {
			display: block!important;
		}
	}
}

.sidebar {
	transition: all 0.3s;
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 50px;
	height: 100%;
	border-top: 1px solid rgba($color-secondary, 0.35);
	border-left: 1px solid rgba($color-secondary, 0.35);
	color: $color-white;
	z-index: -10;
	overflow: hidden;

	&-inner {
		position: absolute;
		width: 100%;
		height: calc(100% - 51px);
		border-top: 1px solid rgba($color-secondary, 0.35);
		overflow-y: scroll;
	}

	&-header {
		padding: 20px;
	}

	&-list {
		padding: 0 0 50px 0;
		margin: 0 0 0 0;
	}

	&-collapse {
		padding-bottom: 5px;
	}

	ul p {
		color: $color-white;
		padding: 10px;
	}

	ul li a {
		padding: 10px 20px;
		font-size: 1.1em;
		display: block;
		text-decoration: none;
		color: $color-primary;
	}

	ul li a:hover {
		color: $color-primary;
		background: $color-secondary;
	}
	ul li.active>a,
	a[aria-expanded="true"] {
		color: $color-primary;
		background: $color-secondary;
	}

	ul ul a {
		font-size: 0.9em !important;
		padding-left: 30px !important;
		color: $color-primary;
		background: $color-secondary;

		&:hover {
			color: $color-white;
			background: $color-primary;
		}
	}
}

#navbar-collapse {
	@media (max-width: $screen-sm-min) {
		background: $color-white;
		border-radius: 10px;
	}
}

#language-button i {
	margin-left: 5px;
}

#language-dropdown {
	border-radius: 4px !important;
	width: 320px;
	padding: 0;

	a {
		display: block;
		line-height: 40px;
		color: $color-primary;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $color-primary;
			color: $color-white;
		}
	}
}

#hero {
	background: url(../images/backgrounds/hero-background.jpg);
	background-size: cover;
	min-height: 700px;
	padding-top: $navbar-height + 20px;
	padding-bottom: 40px;

	img {
		margin-bottom: 20px;
	}

	h1 {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 14px;
	}

	p {
		margin-bottom: 18px;
	}

	h3 {
		margin-bottom: 30px;
	}

	.btn {
		text-decoration: none;
	}
}

#why-btcp {
	.visual-grouping .content h3 {
		color: $color-primary;
	}
}

#hard-fork {
	background: rgba(117, 160, 213, 0.25);

	@media (max-width: $screen-sm-min) {
		img {
			margin-bottom: 40px;
		}
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}
}

#faq {
	h3:not(:first-child) {
		margin-top: 40px;
	}
}

.community {

	&__img {
		border: 4px solid $color-secondary;
		border-radius: 80px;
		margin-bottom: 40px;
	}
}

.team {
	background: $color-layout-gray;

	.row>div:not(:last-child) {
		margin: 0 0 40px 0;
	}

	h3 {
		margin-top: 80px;
		margin-bottom: 8px;
	}

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	a {
		font-size: 16px;
		line-height: 24px;
		display: block;
		text-decoration: none;

		i {
			font-size: 16px;
			padding-right: 4px;
			text-align: center;
		}
	}

	a.btn {
		width: 320px;
		display: inline-block;
	}

	p {
		margin: 0;
	}

	&__heading {
		margin: 60px 0 40px;
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;

		&_inner {
			margin: 20px 0;
			border: 4px solid $color-white;
			border-radius: 80px;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__page {
		padding-top: 120px;
	}

	&__content {
		text-align: left;
	}

	&__page-info {
		margin-bottom: 120px;
	}

	&__link {
		min-height: 24px;
	}

	@media (max-width: $screen-sm-min) {
		&__heading {
			margin: 20px 0;
		}

		&__img {
			justify-content: flex-end;

			&_inner {
				float: right;
			}
		}

		.community {

			&__img {
				margin-bottom: 20px;
			}
		}
	}
}

<<<<<<< HEAD
#blog {
  background: $color-layout-gray;

  a {
	  color: $color-black;
    text-decoration: none;
  }

  img {
	  height: 50px;
		width: 50px;
    border: 4px solid white;
    border-radius: 25px;
  }

  p {
	  font-size: 1.5em;
		line-height: 2;
	}

  .blog-page {
    padding-top: 120px;
  }

  .post-avatar {
	  float: left;
		margin-right: 10px;
	}

  .post-meta {
	  font-size: 1.3em;
	}

  .post-author {
	  color: $color-primary;
	}

  .post-time {
	  color: $color-secondary;
	}

  .post-date {
	  float: left;
	}

  .post-divider {
	  float: left;
		margin-left: 8px;
		margin-right: 8px;
	}

  .post-article {
	  background-color: white;
		border: 1px solid gray;
		border-radius: 4px;
		margin: 25px 0px;
		padding: 25px;
	}

  .post-body {
	  margin-top: 20px;
	}

  .post-footer {
	  a {
		  font-size: 1.3em;
		  color: $color-secondary;
		}
	}
}

.wallets {
	background: rgba(117, 160, 213, 0.25);


	.wallet {

		&-content {

			p {
				min-height: 21px;
			}
		}
	}
}

#resources {
	background: $color-layout-gray;

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	.coinmarketcap-currency-widget {
		background: $color-white;
		border-radius: 10px;
	}

	.links a {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 20px;
		display: block;
		text-decoration: none;

		i {
			font-size: 32px;
			width: 50px;
			text-align: center;
		}
	}

	@media (max-width: $screen-sm-min) {
		.row>div:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

#press {
	background: $color-layout-gray;

	h3:first-child {
		margin-top: 0;
	}

	h3:not(:first-child) {
		margin-top: 40px;
	}

	.coinmarketcap-currency-widget {
		background: $color-white;
		border-radius: 10px;
	}

	.links a {
		font-size: 20px;
		line-height: 32px;
		margin-bottom: 20px;
		display: block;
		text-decoration: none;

		i {
			font-size: 32px;
			width: 50px;
			text-align: center;
		}
	}

	.row>div:not(:last-child) {
		margin-bottom: 40px;
	}
}

.pools {

	&-title {

		h1 {
			margin: 60px 0;

			@media (max-width: $screen-sm-min) {
				margin: 40px 0 20px;
			}
		}
	}

	&-intro {
		text-align: center;
	}

	&-content {
		margin: 40px 0;

		&-title {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		&-message {
			text-align: center;
		}

		&-official {}

		&-cta {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;

			@media (max-width: $screen-sm-min) {
				margin: 40px 0;
			}
		}
	}

	&-table {
		padding: 15px;
		border-radius: 25px;
		background: #efefef;

		&-inner {
			margin-bottom: 0;
			word-break: break-all;
		}

		&-item {

			&-title {

				span {
					white-space: nowrap;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
				}
			}
		}
	}
}

.disclaimer {
	text-align: justify;

	&-header {

		h1 {
			margin: 60px 0 40px;
		}
	}
}

.footer {
	padding: 0.25rem 0.25rem;
	background: $color-primary;

	&-logo {
		height: 25px;
	}

	.links {
		margin: 0;

		li:last-child a {
			padding-right: 0;
		}

		a {
			padding: 0 15px;
			font-size: 16px;
			font-weight: 700;
			color: $color-white;
			line-height: 48px;
			text-transform: uppercase;
			text-decoration: none;

			&:hover {
				color: darken($color-white, 15%);
			}
		}
	}

	&-upper,
	&-lower {
		max-width: 1170px;
		margin: 0 auto;
		padding: 0.5rem;
	}

	&-upper {

		&-inner {
			display: flex;
			align-items: center;
		}
	}

	&-legals {

		a {
			margin: 0 1rem;
			text-decoration: none;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $color-white;
			}
		}
	}
}

#support-button i {
	position: absolute;
	right: 15px;
}

#support-dropdown {
	border-radius: 4px !important;
	width: 160px;
	padding: 0;

	a {
		display: block;
		line-height: 40px;
		color: $color-primary;
		text-align: center;
		text-decoration: none;

		&:hover {
			background: $color-primary;
			color: $color-white;
		}
	}
}

.fork-date {
	margin-top: 0 !important;
}

.snap-date {
	margin-bottom: 0 !important;
	;
}

.notification-main {

	&-content {
		text-align: center;
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-spacer {
	margin: 20px 0;
}