/*
 * Main
 */

#logo {
  height: 50px;

  @media (max-width: $screen-sm-min) {
    height: 35px;
    margin-top: 5px;
  }
}

.navbar-toggle {
  background: $color-white;
}

#navbar-collapse {
  @media (max-width: $screen-sm-min) {
    background: $color-white;
    border-radius: 10px;
  }
}

#hero {
  background: url(../images/hero-background.jpg);
  background-size: cover;
  height: 98vh;
  min-height: 600px;
  padding-top: $navbar-height + 60px;

  img {
    margin-bottom: 20px;
  }

  h1 {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 14px;
  }

  p {
    margin-bottom: 18px;
  }

  h3 {
    margin-bottom: 30px;
  }
}

#why-btcp {
  .visual-grouping .content h3 {
    color: $color-primary;
  }
}

#hard-fork {
  background: rgba(117, 160, 213, 0.25);

  h3:not(:first-child) {
    margin-top: 40px;
  }
}

#faq {
  h3:not(:first-child) {
    margin-top: 40px;
  }
}

#resources {
  background: $color-layout-gray;

  h3:first-child {
    margin-top: 0;
  }

  h3:not(:first-child) {
    margin-top: 40px;
  }

  .coinmarketcap-currency-widget {
    background: $color-white;
    border-radius: 10px;
  }

  .links a {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
    display: block;

    i {
      font-size: 32px;
      width: 50px;
      text-align: center;
    }
  }

  @media (max-width: $screen-sm-min) {
    .row > div:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

#footer {
  padding: 65px 0;
  background: $color-primary;

  .links {
    margin: 0;

    li:last-child a {
      padding-right: 0;
    }

    a {
      padding: 0 15px;
      font-size: 16px;
      font-weight: 700;
      color: $color-white;
      line-height: 48px;
      text-transform: uppercase;

      &:hover {
        color: darken($color-white, 15%);
      }
    }
  }
}
