{
    "env": {
      "browser": true,
      "jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "globals": {
      "Localizations": true,
      "url": true
    },
    "rules": {
        "no-console": 0,
        "comma-dangle": ["error", "never"],
        "newline-before-return": "error",
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "arrow-parens": [
          "error",
          "as-needed"
        ],
    }
}
